<html>
<head>
  {{>header}}
</head>
<body>
  <header>
    <img src="/image/banner.png" alt="banner" class="banner_img">
		<nav class="navflex"  display: inline-block>
			<ul>
			<li><a href="about.html" >About Us</a></li>
            <li class="right"><a href="/login"class="active">SignIn</a></li>
            <li class="right"><a href="/Register">Register</a></li>
        
			</ul>
		</nav>
  </header>
<section class="container">
    <section class="loginContent">
    <h1>{{title}}</h1>
    <h2>Sign In</h2>
    <div id="formContent">
        <!-- Login Form -->
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username" class="col-sm-2 col-formlabel">
                    User Name
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"  id="username" name="username" placeholder="username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 col-formlabel">
                    Password
                </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control"  id="password" name="password"placeholder="password">
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Sign In">
        </form>
    </div>
    </section>
    </section>
</body>
</html>